.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .onboarding-body {
    flex: 1;
    position: relative;
    padding-top: calc(var(--ion-safe-area-top) + 25px);
    padding-left: var(--app-h-padding);
    padding-right: var(--app-h-padding);
    width: 100%;
    background-color: #F6F5FA;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: calc(100% - 240px);
      background-color: #FFFFFF;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    .picture-container,
    .text-container,
    .dots-container {
      z-index: 2;
      position: relative;
    }

    .picture-container {
      aspect-ratio: 155/153;
      width: 100%;
      border-radius: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }

      .swiper {
        width: 100%;
        height: 100%;

        .slide-item {
          border-radius: 20px;
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      height: 90px;
      color: var(--ion-color-secondary);
      text-align: center;

      .slide-info {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      h4 {
        margin: 0;
        margin-bottom: 25px;
        line-height: 1;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.4px;
      }

      p {
        margin: 0;
        line-height: 1.3;
        opacity: 0.5;
      }
    }

    .dots-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      height: 20px;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #DEDBE8;
        transition: background-color 0.2s ease;

        &.active {
          background-color: var(--ion-color-primary);
        }
      }

      .dot + .dot {
        margin-left: 10px;
      }
    }
  }

  .onboarding-footer {
    padding: 20px var(--app-h-padding);
    padding-bottom: calc(var(--ion-safe-area-bottom) + 20px);
    width: 100%;

    button {
      width: 100%;
      height: 50px;
      background-color: var(--ion-color-secondary);
      border-radius: 15px;
      color: #FFFFFF;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }

    a {
      display: block;
      margin-top: 15px;
      padding: 7px;
      text-decoration: none;
      text-align: center;
      line-height: 1;
      font-size: 13px;
      color: rgba(var(--ion-color-secondary-rgb), 0.7);
    }
  }
}
