<app-page class="page-auth-forgot-password">
  <app-navbar>
    <button type="button" slot="start" app-back>
      <ion-icon src="assets/icons/back.svg"></ion-icon>
    </button>
  </app-navbar>
  <app-content [header]="true">
    <div class="content-header">
      <h4>Mot de passe oublié</h4>
      <h5>Veuillez entrer votre adresse email pour recevoir vos instructions de réinitialisation de mot de passe.</h5>
    </div>
    <div class="content-card">
      <div class="card-inner">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <ion-list lines="none">
          <ion-item color="light" class="ion-margin-bottom">
           <ion-icon name="mail" slot="start" color="primary"></ion-icon>
            <ion-input type="email" name="email" ngModel  email #emailCtrl="ngModel" placeholder="Email" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <p class="errorMsg">Svp entrez un mail valide.</p>
          </ion-text>
          </ion-list>
          <button type="button" app-button color="secondary">Réinialiser</button>
        </form>
      </div>
    </div>
  </app-content>
</app-page>

