:host {
  display: block;
}

ion-modal {
  --background: #FFFFFF;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.6);
  --border-radius: 20px;
}

.rate-stars,
.review-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0;
    width: 35px;
    height: 35px;
    background: transparent;
    color: rgba(var(--ion-color-secondary-rgb), 0.7);
    outline: none;

    ion-icon {
      font-size: 35px;
    }

    &.active {
      color: var(--ion-color-primary);
    }
  }
}

.rate-actions {
  margin-top: 15px;
  text-align: left;

  button {
    padding: 4px 0;
    width: auto;
    background: transparent;
    color: var(--ion-color-primary);
    font-size: 14px;
    font-weight: 500;
    outline: none;

    &.cancel {
      font-size: 12px;
      color: rgba(var(--ion-color-secondary-rgb), 0.5);
    }
  }

  button + button {
    margin-left: 13px;
  }
}

.review-modal {
  --modal-padding-top: 40px;

  position: relative;
  padding-top: var(--modal-padding-top);
  padding-bottom: var(--ion-safe-area-bottom, 25px);
  padding-left: var(--app-h-padding);
  padding-right: var(--app-h-padding);

  .review-user {
    display: flex;
    align-items: center;
    flex-direction: row;

    .picture {
      position: relative;
      margin-right: 13px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #F0F0F0;
      background-image: url('../../../../assets/img/avatar.svg');
      background-size: cover;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .info {
      flex: 1;

      .name,
      .job {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .name {
        font-size: 18px;
        font-weight: 700;
        color: var(--ion-color-tertiary);
      }

      .job {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(var(--ion-color-tertiary-rgb), 0.5);
      }
    }
  }

  .review-message {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400;
    color: rgba(var(--ion-color-tertiary-rgb), 0.7);
    text-align: center;
  }

  .review-stars {
    margin-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .review-form {
    margin-bottom: 25px;

    textarea {
      resize: vertical;
      padding: 15px;
      max-height: 120px;
      width: 100%;
      height: 70px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 4px;
      color: rgba(var(--ion-color-tertiary-rgb), 0.7);
      border: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.3);
      outline: none;

      &::placeholder {
        font-size: 13px;
        font-weight: 500;
        color: rgba(var(--ion-color-secondary-rgb), 0.3);
      }

      &:focus {
        border-color: var(--ion-color-primary);
      }
    }

    .input-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
      padding: 0 15px;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: rgba(var(--ion-color-tertiary-rgb), 0.5);
      text-align: right;
    }
  }

  .review-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 100%;
      height: 38px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid var(--ion-color-primary);
      outline: none;

      &.submit {
        background-color: var(--ion-color-primary);
        color: #FFFFFF;

        &:disabled {
          color: rgba(var(--ion-color-tertiary-rgb), 0.4);
          background-color: rgba(var(--ion-color-tertiary-rgb), 0.07);
          border-color: rgba(var(--ion-color-tertiary-rgb), 0.07);
        }
      }

      &.cancel {
        background: transparent;
        border-color: rgba(var(--ion-color-secondary-rgb), 0.2);
        color: var(--ion-color-primary);
      }
    }
  }

  .review-loader {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: var(--modal-padding-top);
    left: var(--app-h-padding);
    right: var(--app-h-padding);
    bottom: var(--ion-safe-area-bottom, 25px);
    background-color: #FFFFFF;
    color: var(--ion-color-secondary);

    .message {
      margin-top: 25px;
      font-size: 16px;
      font-weight: 400;
      color: var(--ion-color-secondary);
    }
  }
}
